.item-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9375rem;
}

.controls-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-control {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: 0;
    background-color: var(--color-secundarioB);
    font-family: var(--fuente-base); 
    font-weight: var(--fw-bold);
    color: var(--color-cuaternario);
    font-size: var(--fs-l);
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-control:hover {
    background-color: var(--color-secundarioBO);
}

.count-display {
    min-width: 30px;
    font-family: var(--fuente-base); 
    font-weight: var(--fw-bold);
    color: var(--color-terciario);
    font-size: var(--fs-l);
    text-align: center;
}

.btn-add-to-cart {
    width: 100%;
    padding: .75rem;
    font-family: var(--fuente-base); 
    font-weight: var(--fw-semibold);
    font-size: var(--fs-m);
    background-color: var(--color-principal); 
    color: var(--color-cuaternario);
    cursor: pointer;
    border: 1px solid var(--color-principal);
    border-radius: 8px;
    letter-spacing: .0313rem;
    transition: background-color 0.3s;
}

.btn-add-to-cart:hover {
    background-color: var(--color-secundarioB);
    border: 1px solid var(--color-secundarioB);
}
