@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --fuente-base: 'Outfit', sans-serif;
  --fuente-titulos: 'Winky Sans', sans-serif;
  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-dbold: 800;

  /* Font Sizes */
  --fs-xxs: .5625rem;
  --fs-xs: .6875rem;
  --fs-s: .8125rem;
  --fs-m: 1rem;
  --fs-l: 1.125rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;
  --fs-xxxxl: 4rem;

  /* Brand Colors */
  --color-principal: #110e55;
  --color-secundario: #8c52ff;
  --color-secundarioB: #646cff;
  --color-secundarioBO: #535bf2;
  --color-terciario: black;
  --color-cuaternario: white;
  --offer-color: #ff4757;
  --color-badge: #686767ab;
  --color-text-light: #585555;
  --text-light: #95a5a6;
  --border-colorPrincipal: #dadada86;
  --light-background: #e9ecef;
  --colorSuccess: green;
  --colorBad: red;
  --color-green-light: #a2cd68;
}

body #root {
  background-color: transparent;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.082) 3px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.082) 3px, transparent .1px),
    linear-gradient(135deg, #dabced 0%, #a9c9ff 50%, #adffc6 100%);
  background-size: 50px 50px, 50px 50px, auto;
  background-attachment: fixed;
  font-family: var(--fuente-base);
  font-weight: var(--fw-light);
  font-size: var(--fs-m);
  color: var(--color-terciario);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fuente-titulos);
  font-weight: var(--fw-dbold);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.status-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  min-height: calc(100vh - 6.25rem); 
  text-align: center;
  color: var(--color-terciario);
  font-family: var(--fuente-base);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-l)
}

.status-container h1{
  padding: .625rem;
  text-align: center;
  font-family: var(--fuente-titulos);
  font-weight: var(--fw-bold);
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: var(--color-principal);
}

.btn-back {
  margin-top: 1.25rem;
  padding: .625rem 1.25rem;
  background-color: var(--color-secundarioB);
  color: var(--color-cuaternario);
    font-family: var(--fuente-base);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toastify-style{
  background-image: linear-gradient(to right top, var(--color-secundario), var(--color-secundarioB), var(--color-secundarioBO)) !important;
  font-family: var(--fuente-base) !important; 
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
  color: var(--color-cuaternario) !important;
  border-radius: 50px !important;
  padding: .625rem 1.5625rem !important;
  min-height: auto !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  text-align: center;
  white-space: nowrap !important; 
  width: max-content !important; 
  max-width: none !important;
}

.toastify-delete{
  background-color: var(--colorSuccess) !important;
  font-family: var(--fuente-base) !important; 
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
  color: var(--color-cuaternario) !important;
  border-radius: 50px !important;
  padding: .625rem 1.5625rem !important;
  min-height: auto !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  text-align: center;
  white-space: nowrap !important; 
  width: max-content !important; 
  max-width: none !important;
}

.toastify-warning{
  background-color: #FF8C00 !important;
  font-family: var(--fuente-base) !important; 
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
  color: var(--color-cuaternario) !important;
  border-radius: 50px !important;
  padding: .625rem 1.5625rem !important;
  min-height: auto !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  text-align: center;
  white-space: nowrap !important; 
  width: max-content !important; 
  max-width: none !important;
}

.toastify-error{
  background-color: #E36A6A !important;
  font-family: var(--fuente-base) !important; 
  font-weight: var(--fw-regular);
  font-size: var(--fs-m);
  color: var(--color-cuaternario) !important;
  border-radius: 50px !important;
  padding: .625rem 1.5625rem !important;
  min-height: auto !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
  text-align: center;
  white-space: nowrap !important; 
  width: max-content !important; 
  max-width: none !important;
}

.end-purchase {
  max-width: 50% !important;
  border: 1px solid var(--color-secundarioB)  !important;
  border-radius: 12px !important;
}

.end-purchase div i {
  font-size: var(--fs-xxxl);
}
.end-purchase div h5 {
  color: var(--color-secundario) !important; 
  font-family: var(--fuente-base);
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
}

.end-purchase div p {
  font-family: var(--fuente-base);
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
}

.folio {
  border: 1px solid var(--color-secundarioB)  !important;
  border-style: dashed !important;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);;
}

.folio span {
  font-family: var(--fuente-base);
  font-weight: var(--fw-bold);
  color: var(--color-terciario);
  letter-spacing: 2px;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-cuaternario); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secundarioB); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secundarioBO); 
}