.error-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: calc(100vh - 6.25rem); 
    text-align: center;
    color: var(--color-terciario);
    font-family: var(--fuente-base);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-l)
}

.error-container h1 {
    margin-bottom: 1.25rem;
    color: var(--color-principal);
    font-family: var(--fuente-titulos);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xxxxl)
}

